<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y

'mamba' is not recognized as an internal or external command,
operable program or batch file.
'mamba' is not recognized as an internal or external command,
operable program or batch file.

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [3]:
#Write your code here
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
html_data  = requests.get(url).text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [4]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [5]:
#Replace the dots below
# soup="......"

soup = BeautifulSoup(html_data,"html5lib")

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [9]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    #Write your code here
    if (col != []):
        marketcap = col[0].text.strip()
        name = col[1].text.strip()
        data = data.append({"Name":name, "Market Cap (US$ Billion)":marketcap}, ignore_index=True)
    
data

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                        1
1   Industrial and Commercial Bank of China                        2
2                           Bank of America                        3
3                               Wells Fargo                        4
4                   China Construction Bank                        5
5                Agricultural Bank of China                        6
6                         HSBC Holdings PLC                        7
7                            Citigroup Inc.                        8
8                             Bank of China                        9
9                      China Merchants Bank                       10
10                     Royal Bank of Canada                       11
11                    Toronto-Dominion Bank                       12
12                                HDFC Bank                       13
13                        Commonwealth Bank                       14
14                             U.S. Bancorp                       15
15                            Goldman Sachs                       16
16                          Banco Santander                       17
17                           Banco Bradesco                       18
18                           Morgan Stanley                       19
19                                  Westpac                       20
20           Mitsubishi UFJ Financial Group                       21
21                               Scotiabank                       22
22                   PNC Financial Services                       23
23                   Bank of Communications                       24
24                              BNP Paribas                       25
25  Australia and New Zealand Banking Group                       26
26                  National Australia Bank                       27
27                     Lloyds Banking Group                       28
28          Sumitomo Mitsui Financial Group                       29
29                         Bank of Montreal                       30
30                                      UBS                       31
31                                ING Group                       32
32                              Capital One                       33
33              The Bank of New York Mellon                       34
34                      China Minsheng Bank                       35
35                         China CITIC Bank                       36
36          Banco Bilbao Vizcaya Argentaria                       37
37                   Mizuho Financial Group                       38
38                          Intesa Sanpaolo                       39
39                          Crédit Agricole                       40
40       Canadian Imperial Bank of Commerce                       41
41                   Royal Bank of Scotland                       42
42                                 Barclays                       43
43                            Credit Suisse                       44
44                                   Nordea                       45
45                       Standard Chartered                       46
46                                 KBC Bank                       47
47                                UniCredit                       48
48                         Société Générale                       49
49                            Deutsche Bank                       50

**Question 3** Display the first five rows using the `head` function.

In [10]:
#Write your code here

data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                        1
1  Industrial and Commercial Bank of China                        2
2                          Bank of America                        3
3                              Wells Fargo                        4
4                  China Construction Bank                        5

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [11]:
#Write your code here

data.to_json("bank_market_cap.json")

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.